ENV=режим_запуска_приложения

POSTGRES_USER=имя_пользователя_базы_данных
POSTGRES_PASSWORD=пароль_пользователя_базы_данных
POSTGRES_DB=имя_базы_данных
POSTGRES_DB_TEST=имя_тестовой_базы_данных

SQLALCHEMY_PATH_DEFAULT=postgresql+asyncpg://{POSTGRES_USER}:{POSTGRES_PASSWORD}@db:5432/{POSTGRES_DB}
SQLALCHEMY_PATH_ALEMBIC=postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DB}
SQLALCHEMY_PATH_TEST_ASYNC=postgresql+asyncpg://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DB_TEST}
